# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# .mvn/wrapper/maven-wrapper.jar  # Some prefer to commit this, others fetch it.
                                # Since your template includes it, it's fine to commit .mvn folder.

# Mac
.DS_Store

# Log files
*.log
logs/

# Compiled class files (if any somehow escape target/)
*.class

# Package Files #
# --------------- #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
